.page-transition-enter {
    opacity: 0;
    transform: translateY(1em);
  }
  .page-transition-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: all 300ms;
  }
  .page-transition-exit {
    opacity: 1;
    transform: translateY(0);
  }
  .page-transition-exit-active {
    opacity: 0;
    transform: translateY(1em);
    transition: all 300ms;
  }