@import './utility/_normalize';
@import './utility/_variables';

@import './common/_header';
@import './common/_content';
@import './common/_recentPosts';
@import './common/_pageanim';
@import './common/_buttons';
@import './common/_blog';
@import './common/_about';
@import './common/_contact';
@import './common/_nprogress';

body {
    font-family: $bodyFont;
    background: $black;
    color: white;
    font-display: swap;
}

.accent {
    color: $accent;
}

.introduction {
    height: calc(50vh - 2em);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &--stinger {
        flex-grow: 1;
        height: 50vh;
        align-self: stretch;
        padding: 2em;
        box-sizing: border-box;
        background: rgba(0, 0, 0, .85);
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50vh;
        background-image: linear-gradient(rgba(14, 14, 14, 1), rgba(14, 14, 14, .85), rgba(14, 14, 14, 1)), url('/static/images/bg.webp');
        background-size: cover;
        background-position: top center;
        position: relative;
        text-align: center;
        text-shadow: 0px 2px 4px black;

        small {
            margin: 0;
            padding: 0;
        }

        h1 {
            margin: 0;
            padding: 0;
        }
    }
}

.bigthree {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: calc(50vh - 2em);

    &--section {
        flex-grow: 1;
        flex-basis: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        align-self: stretch;
        padding: 1em;

        &:nth-child(2) {
            background: rgba(0, 0, 0, .05);
        }
    }

    &--icon {
        height: 5.5em;
        width: 5.5em;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 6em;

    small {
        text-transform: uppercase;
        opacity: .1;
        letter-spacing: .15em;
    }
}

.videobg {
    height: calc(100vh - 10em);
    z-index: -99;
    width: 100%;
    position: relative;
    background-image: url('/static/images/404.webp');
    background-size: cover;
    background-position: top center;

    &--overlay {
        position: absolute;
        text-align: center;
        padding: 2em;
        z-index: 400000;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: linear-gradient(rgba(14, 14, 14, 1), rgba(0, 0, 0, .85), rgba(14, 14, 14, 1));
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 2em;
            margin: 0 0 .5rem;
            padding: 0;
        }

        h2 {
            font-size: 1em;
            font-weight: 300;
            margin: 0;
            padding: 0;
        }

        button {
            z-index: 9999;
        }
    }
}